<div>

  <div class="row">
    <!--create a row--->
    <div class="col-8">
      <!--To use 8 grid in the screen-->
      <div class="card">
        <!--create card-->
        <div class="card-header bg-info">SHOPPING LIST</div>

        <div>
            <select class="form-control" [(ngModel)]="sortOption">
              <option value="product_name|asc">Sort by name (A to Z)</option>
              <option value="product_name|desc">Sort by name (Z to A)</option>
              <option value="product_price|lth">Sort by name (Low to High)</option>
              <option value="product_price|htl">Sort by name (High to Low)</option>
            </select>
        </div>

        <div class="card-body">
          <div class="row">
            <!--If your screen is extermely large use 4 grid-->
            <!--If your screen is small use 6 grid-->
            <!--If your screen is extermely small use 12 grid-->
            <div class="col-xl-4 col-sm-6 col-12 border border-warning mb-2" *ngFor="let item of products | sortBy : sortOption">
              <div class="row text-center mb-2">
                <div class="col-12">
                  <img class="img-fluid mt-3" src="{{item.product_image}}" alt="Card image cap">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h6 class="card-title font-weight-bold"> {{item.product_name}} </h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="card-text"> <small> {{item.product_weight}} </small></p>
                </div>
                <div class="col-md-6">
                  <p class="text-right"> <small> Rs {{item.product_price}} | currency: 'INR':true  </small> </p>
                </div>
              </div>
              <!--Add button-->
              <div class="row text-center mb-1">
                <div class="col-12">
                  <button class="btn btn-sm btn-primary" (click)="addToCart(item)">Add to Cart</button>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!--Add copyright-->
        <div class="card-footer text-center">Copyright</div>
      </div>
    </div>


    <!--To create cart-->
    <xdiv class="col-xl-4">

      <div class="card">

        <div class="card-header bg-warning">

          <div *ngIf="productList.length == 0">You have no items in your basket</div>
          <div *ngIf="productList.length == 1">You have {{productList.length}} item in your basket</div>
          <div *ngIf="productList.length > 1">You have {{productList.length}} items in your basket</div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="text-danger" *ngIf="errorItem">
                You have already this item in your list
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-12">
              <!--Table to hold the item add in the cart-->
              <table class="table table-borderless">
                <thead>
                  <!--table head-->
                  <tr>
                    <!--table row-->
                    <th>Product</th>
                    <!--table heading-->
                    <th>Amount</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!--table body-->

                  <tr defColOnEvent *ngFor="let cart of productList">
                    <td>{{cart.product_name}}</td>
                    <td>{{cart.product_price}}</td>
                    <td>
                      <button class="btn btn-info btn-sm" title="Remove item" (click)="removeItem(cart)">
                        <i class="fas fa-trash fa-sm"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--To add total amount-->
        <div class="card-footer bg-dark text-white text-center">
          Total Amount: Rs. {{total()}}
        </div>

      </div>
    </div>
  </div>
</div>